/* Styles/components/Subscriptions.module.css */
.subscriptions-container {
  composes: container from "../base/common.css";
}

.subscriptions-title {
  composes: title from "../base/common.css";
}

.subscriptions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.subscription-card {
  composes: card from "../base/common.css";
  overflow: hidden;
}

.subscription-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.subscription-details {
  text-align: center;
}

.subscription-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.subscription-price {
  font-size: 1.25em;
  color: var(--primary-color);
  margin-bottom: 20px;
}
