.streamListContainer {
  composes: container from "../App.css";
}

.streamListTitle {
  composes: title from "../App.css";
}

.streamListSearch {
  composes: flex from "../App.css";
  justify-content: center;
  margin-bottom: 20px;
}

.streamListInput {
  width: 70%;
}

.streamListResults {
  margin-top: 20px;
}

.streamItem {
  composes: card flex from "../App.css";
  align-items: center;
  margin-bottom: 15px;
}

.streamItemImage {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
}

.streamItemTitle {
  font-size: 1.5em;
  margin-bottom: 5px;
}
